.jumbotron{
    background: #905bd6;
}
.navbar-dark{
    background: #6028aa;
    font-size: 110%;
}
footer{
    background: #c294ff;
}
.row-content{
    min-height: 300px;
    padding: 25px 0;
    border-bottom: 1px solid #241d3321;
}
